<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale-1">
    <title>Pomodoro</title>
  </head>

  <body>

    <div class="ui segments" id="container">
      <div class="ui input" id="pomodoroInput">
        <input id="pomodoroTask" placeholder="Enter task name" type="text">
      </div>
      <div id="taskNameAndInput">
          <h1 id="taskName">Pomodoro Clock</h1>
        <div class="ui circular red inverted segment">
          <h1 id="timer">00:00</h1>
        </div>
      </div>

      <div class="ui buttons" id="buttons">
        <button class="ui button" id="increment">+</button>
        <button class="ui button" id="start">Start</button>
        <button class="ui button" id="stop">Stop</button>
        <button class="ui button" id="reset">Reset</button>
        <button class="ui button" id="decrement">-</button>
      </div>
    </div>

    <script type="text/javascript" src="scripts/task_list.js"></script>
    <script type="text/javascript" src="scripts/stopwatch.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>

</html>
