@media (min-width: 801px){
  div#container {
    margin: 10% 33%;
    word-wrap: break-word;
  }
}

div#container {
  word-wrap: break-word;
}

#taskName {
  text-align: center;
}

#timer {
  text-align: center;
}

div.ui.input#pomodoroInput {
  width: 100%;
}

div.ui.circular.segment {
  font-size: 2em;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

h1#taskName {
  font-size: 3em;
  margin: 10px;
}

h1#timer {
  font-size: 1em;
}

#buttons {
  width: 100%;
  text-align: center;
}
