div#container {
  margin: 10% 35%;
  word-wrap: break-word;
}

#taskName {
  text-align: center;
}

#timer {
  text-align: center;
}

div.ui.input#pomodoroInput {
  width: 100%;
}

div.ui.circular.segment {
  font-size: 30px;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

h1#taskName {
  font-size: 35px;
  margin: 10px;
}

h1#timer {
  font-size: 60px;
}

#buttons {
  width: 100%;
  text-align: center;
}
